body{
  background: url("../img/felt.png");
}

.covered {
  background-image: url("../img/card-back.png") !important;
}

.card1 {
  border: solid 1px black;
  width: 118px;
  border-radius: 10px;
  height: 170px;
  margin-bottom: -125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hand {
  margin-top: 50%;
  color: white;
  text-align: center
}

.buttons {
  margin-top: 25%;
}

.results {
  text-align: center;
  color: white;
}

button{
  position:relative;
  width: 10vw;
  top:50%;
  left: 2vw;
}